In [3]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [4]:
PM25 = pd.read_csv('global_air_quality.csv')

In [6]:
PM25['PM25_value'] = PM25['FactValueNumeric']

In [63]:
PM25[['FactValueNumeric','PM25_value']].head()

   FactValueNumeric  PM25_value
0             10.01       10.01
1             10.02       10.02
2             10.06       10.06
3             10.08       10.08
4             10.09       10.09

In [15]:
# Function that calculates the averages for all conts
def Average_Value(cont):
    sum_cont = 0
    n = 0
    for i in range(1, len(PM25)):
        if PM25.loc[i, "ParentLocation"] == cont:
            sum_cont += PM25.loc[i, 'PM25_value']
            n += 1
    return (sum_cont/n)

In [55]:
# Getting all continents in list
cont_list = []
for i in PM25['ParentLocation']:
    if i not in cont_list:
        cont_list.append(i)

In [57]:
# Assign all averages in a dictionary so we don't have to calculate every time
cont_averages = {}
for i in cont_list:
    cont_averages[i] = Average_Value(i)

In [49]:
# Function to map
def average_finder(location):
    if location in cont_averages:
        return cont_averages[location]
    else
        return None

In [51]:
PM25['Average_PM25'] = PM25['ParentLocation'].map(average_finder)

In [59]:
PM25[['Location', 'ParentLocation', 'PM25_value', 'Average_PM25']].head()

,Location,ParentLocation,PM25_value,Average_PM25
0,Kenya,Africa,10.01,29.820748
1,Trinidad and Tobago,Americas,10.02,14.645728
2,United Kingdom of Great Britain and Northern I...,Europe,10.06,19.244727
3,Grenada,Americas,10.08,14.645728
4,Brazil,Americas,10.09,14.645728

In [65]:
cont_averages
# Highest Value: Eastern Mediterranean

{'Africa': 29.820748182984197,
 'Americas': 14.645727810650857,
 'Europe': 19.244726923076936,
 'Western Pacific': 15.49755932203391,
 'South-East Asia': 32.14579629629628,
 'Eastern Mediterranean': 38.40368181818181}

In [67]:
HW_sub = PM25[['Location', 'ParentLocation', 'PM25_value', 'Average_PM25']]
HW_sub.head()

,Location,ParentLocation,PM25_value,Average_PM25
0,Kenya,Africa,10.01,29.820748
1,Trinidad and Tobago,Americas,10.02,14.645728
2,United Kingdom of Great Britain and Northern I...,Europe,10.06,19.244727
3,Grenada,Americas,10.08,14.645728
4,Brazil,Americas,10.09,14.645728

In [77]:
# DO NOT RUN MORE THAN ONCE
HW_sub.to_csv('Homework_7_1.5.csv', index=False)